<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-img class="photo-frame" src="http://localhost:8080/images/{{filename}}"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-button color="danger" fill="outline" (click)="discardImage()">
          <ion-icon slot="start" name="aperture"></ion-icon>
          Delete image
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p style="text-align: center;">Not implemented yet</p>
</ion-content>