<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-img class="photo-frame" *ngIf="capturedPhoto" [src]="capturedPhoto" (click)="takePhoto()"></ion-img>
        <ion-img class="photo-frame" *ngIf="!capturedPhoto" src="../../assets/No-Image-Placeholder.svg"
          (click)="takePhoto()"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" fill="outline" (click)="takePhoto()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Take a photo
        </ion-button>
        <ion-button color="primary" fill="outline" (click)="pickImage()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          Pick an image
        </ion-button>
        <ion-button color="danger" fill="outline" (click)="discardImage()">
          <ion-icon slot="start" name="aperture"></ion-icon>
          Discard image
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="imageform" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Story</ion-label>
      <ion-input formControlName="story" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.story.errors?.required">Brand is required.</span>
    <ion-item lines="full">
      <ion-label position="floating">Group</ion-label>
      <ion-input formControlName="group" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.group.errors?.required">Model is required.</span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>